@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Pacifico&display=swap');

:root {
    --font-family: 'Lato', sans-serif;
    --bg-color:#0E8388 ;
    --primary-color: #2E4F4F;
}